<div class="align-content-center text-center">
  <h2>Witaj w kalkulatorze kalorii</h2>
  <div class="mt-3 text-center d-inline-flex">
    <div class="card border-primary m-3">
      <h5 class="m-2">Kalkulator umożliwia wyliczenie BMI, idealnej masy ciała oraz podstawowej przemiany materii.</h5>
    </div>
    <div class="card border-primary m-3">
      <h5 class="m-2">Można również obliczyć kaloryczność posiłku składającego się z produktów umieszczonych w bazie danych.</h5>
    </div>
    <div class="card border-primary m-3">
      <h5 class="m-2">Do bazy danych można dodawać nowe produkty.</h5>
    </div>
  </div>
</div>
